<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DGame</title>
</head>
<body>

    <h1>DGame</h1>

    <% if (result.length > 0) { %>
        <p>Game Number: <%= result[0].gameNo %></p>
        <p><a href="/game/<%= result[0].gameNo %>">Join This Game</a></p>

        <ul>
            <% result.forEach(user => { %>
                <li><%= user.uname %></li>
            <% }); %>
        </ul>
    <% } else { %>
        <p>No data available.</p>
    <% } %>

</body>
</html>
